      body {
        font-family: "Inter";
        height: 100%;
        display: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(17, 64, 90);
        color: rgb(78, 78, 78);
      }

      #main {
        width: auto;
        height: 100%;
        transition: margin-left 0.2s;
        margin-right: 0px;
        padding: 16px;
        background-color:rgba(230, 230, 230, 1);
        border-radius: 8px;
      }
     
      /*PDF UPLOAD CSS here*/
      form{
        margin-left: 70px;
      }
      label{
        font-size: 20px;
        font-weight: 300;
       
      }
      #pdf{
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        width: 300px;
        cursor: pointer;
      }
      #upload{
        font-size: 20px;
        font-weight: 300;
        margin-left: 100px;
        cursor: pointer;
      }
      /*PDF UPLOAD CSSS ----END----*/

      /**Display PDF start CSS**/
      embed{
        border: 2px solid black;
        margin-top: 30px;
        height:300px;
      }
      .div1{
        margin-left: 170px;
      }
      /**Display PDF END CSS**/
      #btn{
        float:right;
        padding-right: 20px;
      }
      #form {
        width: fit-content;
        height: 100%;
        transition: margin-left 0.2s;
        margin-right: 5px;
        padding: 16px;
        background-color: rgba(201, 241, 231, 0.877);
        border-radius: 8px;
      }
      .form-element {
        display: inline-table;
        flex-direction: column;
        margin: 15px;
      }
      a {
        text-decoration: none;
        color: darkslategrey;
      }
      input,
      textarea {
        border: 1px solid #d0d2e2;
        font-size: 14px;
        font-weight: 300;
        width: 300px;
        line-height: 1.2;
        padding: 10px 10px;
        border-radius: 8px;
      }
      span{
        font-size: 19px;
        padding: 10px 10px;
      }
      
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(17, 44, 70);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;
      }

      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 24px;
        margin-left: 50px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {
          padding-top: 15px;
        }
        .sidenav a {
          font-size: 18px;
        }
      }
      li{
        text-decoration: none;
      }

   